[user]
    name = Joshua Li
    email = joshua.r.li.98@gmail.com
    signingkey = C44E942716F2C9D3

[gpg]
    program = gpg2

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[core]
    autocrlf = input
    compression = 9

[alias]
    ca = commit --amend -v
    dt = difftool
    dtc = difftool --cached
    root = rev-parse --show-toplevel
    ci = show --format=fuller --show-signature
    cs = show --format=fuller --show-signature --stat
    versions = tag -l --sort=version:refname

[apply]
    whitespace = fix

[diff]
    renames = copies
    tool = meld

[merge]
    log = true
    tool = meld

[push]
    default = current
    followTags = true

[color]
    ui = auto
