"*":
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "material-palenight-syntax"
    ]
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "Hack"
    fontSize: 11
    showCursorOnSelection: false
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "d8648668-4bd5-4d06-8930-8db37b401285"
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
