packages: [
  "atom-beautify"
  "autocomplete-python"
  "busy-signal"
  "color-picker"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "intentions"
  "language-latex"
  "linter"
  "linter-flake8"
  "linter-gcc"
  "linter-golinter"
  "linter-js-standard"
  "linter-rust"
  "linter-scalac"
  "linter-ui-default"
  "material-palenight-syntax"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "sort-lines"
]
