[user]
    name = Joshua Li
    email =

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[core]
    autocrlf = input
    compression = 9

[alias]
    root = rev-parse --show-toplevel
    info = show --format=fuller --show-signature
    stat = show --format=fuller --show-signature --stat
    peek = show --format=fuller --show-signature HEAD
    unstage = reset --

[push]
    default = current

[color]
    ui = auto
    status = always
    diff = always
