[user]
    name = Joshua Li
    email = joshua.r.li.98@gmail.com
    signingkey = C44E942716F2C9D3

[gpg]
    program = gpg2

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[core]
    autocrlf = input
    compression = 9

[alias]
    amend = commit --amend -v
    c = checkout @{-1}
    d = difftool
    dc = difftool --cached
    root = rev-parse --show-toplevel
    info = show --format=fuller --show-signature
    stat = show --format=fuller --show-signature --stat
    peek = show --format=fuller --show-signature HEAD
    unstage = reset --
    resign = rebase --exec 'git commit --amend --no-edit -n -S' -i

[apply]
    whitespace = fix

[diff]
    renames = copies

[merge]
    log = true

[push]
    default = current
    followTags = true

[color]
    ui = auto
    status = always
    diff = always
